<section>
    <footer class="flex items-center justify-center px-12 py-8 bg-primary-400">
        <div class="ml-auto animate-fade-in">
            2002 - 2024
            <span>|</span>
            urielrodriguez.000webhostapp.com
            <span>|</span>
            Hecho con Angular
            <span>|</span>
            Ultima actualización: 12/05/2024
        </div>
        <div class="flex gap-8 ml-auto">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5491153130820"><img class="w-12 hover:scale-110 transition-all" src="   https://cdn-icons-png.flaticon.com/512/3670/3670051.png " alt=""></a>
            <a target="_blank" href="https://www.linkedin.com/in/uriel-rodriguez-lagorio/"><img class="w-12 hover:scale-110 transition-all" src="   https://cdn-icons-png.flaticon.com/512/3536/3536505.png " alt=""></a>
            <a target="_blank" href="https://github.com/Uradielan"><img class="w-12 hover:scale-110 transition-all invert" src="   https://cdn-icons-png.flaticon.com/512/2111/2111425.png " alt=""></a>
        </div>
    </footer>
</section>