<section>
    <div class="flex m-10 justify-around">
        <div class="w-1/2 overflow-hidden rounded-lg">
            <div>
                <h1 class="text-7xl text-center mb-8 text-secondary">Full Stack <span id="texto" class="text-white">
                        Developer</span></h1>
            </div>
            <div class="bg-primary-200 rounded-lg shadow-sm p-4 h-full">
                <h2 class="text-5xl mb-4">¡Hola! Soy Uriel Rodriguez</h2>
                <br>
                <hr>
                <br>
                <p class="text-2xl">Me especializo en desarrollo de paginas e-commerce, también desarrolle aplicaciones
                    web y móviles</p>
                <br>
                <strong class="text-2xl">Objetivos: </strong>
                <p class="text-2xl">Adquirir nuevos conocimientos y seguir desempeñándome profesionalmente.</p>
                <br>
                <ul>
                    <li class="text-2xl flex gap-2 items-center mt-2 mb-2">
                        <img class="w-8" src="   https://cdn-icons-png.flaticon.com/512/684/684908.png " alt="">
                        <a target="_blank" href="https://maps.app.goo.gl/SkREFUugyfBStETN9">San Miguel, Buenos Aires,
                            Argentina</a>
                    </li>
                    <li class="text-2xl flex gap-2 items-center mt-2 mb-2">
                        <img class="w-8" src="   https://cdn-icons-png.flaticon.com/512/9639/9639598.png " alt="">
                        <a target="_blank" href="https://api.whatsapp.com/send?phone=5491153130820">1153130820</a>
                    </li>
                    <li class="text-2xl flex gap-2 items-center mt-2 mb-2">
                        <img class="w-8" src="   https://cdn-icons-png.flaticon.com/512/732/732200.png " alt="">
                        <a target="_blank" href="mailto:Ruriel51@gmail.com" class="">Ruriel51@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-1/3">
            <img class="rounded-lg" src="./assets/images/Formal.jpg" alt="">
        </div>
    </div>
</section>
<section>
    <app-tecnologies></app-tecnologies>
</section>
<section>
    <app-projects></app-projects>
</section>
<app-contact></app-contact>
