<section class="p-16">
    <div class="bg-primary-400 bg-opacity-70 border border-white rounded-lg flex p-8 gap-24 justify-center ">
        <div class="w-full">
            <h2 class="border-b border-dashed pb-8 text-4xl">CONTACTO</h2>
            <ul>
                <li class="border-b border-dashed pb-2 my-4 text-2xl flex gap-2 items-center">
                    <img class="w-8" src="   https://cdn-icons-png.flaticon.com/512/684/684908.png " alt="">
                    <a target="_blank" href="https://maps.app.goo.gl/SkREFUugyfBStETN9">San Miguel, Buenos Aires,
                        Argentina</a>
                </li>
                <li class="border-b border-dashed pb-2 my-4 text-2xl flex gap-2 items-center">
                    <img class="w-8" src="   https://cdn-icons-png.flaticon.com/512/9639/9639598.png " alt="">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=5491153130820">1153130820</a>
                </li>
                <li class="border-b border-dashed pb-2 my-4 text-2xl flex gap-2 items-center">
                    <img class="w-8" src="   https://cdn-icons-png.flaticon.com/512/732/732200.png " alt="">
                    <a target="_blank" href="mailto:Ruriel51@gmail.com" class="">Ruriel51@gmail.com</a>
                </li>
            </ul>
        </div>
        <div class="w-full">
            <h2 class="border-b border-dashed pb-8 text-4xl">FORMULARIO</h2>
            <form class="block" action="https://formsubmit.co/ruriel51@gmail.com" method="POST">
                <div class="border-b border-dashed">
                    <input class="block h-10 w-full bg-primary-300 bg-opacity-75 my-2 p-2" placeholder="Nombre"
                        type="text" name="name" required>
                </div>
                <div class="border-b border-dashed">
                    <input class="block h-10 w-full bg-primary-300 bg-opacity-75 my-2 p-2" placeholder="Email"
                        type="email" name="email" required>
                </div>
                <div class="border-b border-dashed">
                    <input class="block h-10 w-full bg-primary-300 bg-opacity-75 my-2 p-2"
                        placeholder="Teléfono (optativo)" type="text" name="tel">
                </div>
                <div class="border-b border-dashed">
                    <textarea class="block h-10 w-full bg-primary-300 bg-opacity-75 my-2 p-2" placeholder="Mensaje"
                        rows="10" name="message" required></textarea>
                </div>
                <button type="submit" class="bg-secondary px-4 py-3 mt-4">Enviar Mensaje</button>
            </form>
        </div>
    </div>
</section>